version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: chinook_backend
    env_file:
      - .env
    network_mode: host
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL}
    container_name: chinook_frontend
    env_file:
      - .env
    network_mode: host
    restart: unless-stopped